.flex {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-grow: 1;
    max-height: 88vh;
}

.sensorList {
    padding: 0 2em 1em 2em;
    width: fit-content;
    flex-shrink: 0;
    overflow: auto;
}

a {
    text-decoration: none;
}

.active > div {
    background-color: #AF40FF;
}