.chart {
    margin: 0 1em 0 1em;
    background-color: #ddd;
    flex-grow: 1;
    height: 0; /* Important for the chart to resize properly */
}

.lastData {
    font-size: 1.5rem;
    margin: 1rem 2rem 1rem 2rem;
}

.sensorData {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.doorData {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doorCaption {
    font-size: 1.5rem;
}

.doorImg {
    margin-top: 1rem;
}