.sensorName {
    font-size: 2em;
    text-align: center;
}

.sensorInfo {
    flex-grow: 1;
    width: 0; /* Important for the chart to resize properly */
    display: flex;
    flex-direction: column;
}