html, 
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background: rgb(24,18,48);
  background: linear-gradient(120deg, rgba(24,18,48,1) 0%, rgba(30,17,47,1) 21%, rgba(29,34,55,1) 43%, rgba(24,34,51,1) 72%, rgba(27,32,66,1) 100%);
  background-repeat: no-repeat;
  color: white;
}

.center {
  padding: 1rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}