.urlInput {
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.15em 0.2em 0.15em 0.2em;
}

.btnLoad {
    margin-top: 20px;
    margin-left: 10px;
}

/* Copied CSS */
.btnLoad {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.btnLoad:active,
.btnLoad:hover {
  outline: 0;
}

.btnLoad span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btnLoad:hover span {
  background: none;
}