
.sensorButton > span {
    color: white;
    width: 100%;
    height: fit-content;
}

.sensorButton {
  text-align: center;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em 1.5em 1em 1.5em;
  margin-top: 1.5em;
  width: auto;
  background-color: rgba(0,0,0,0);
  transition: 2s;
}

.sensorButton:hover {
  background-color: #AF40FF;
}

/* Fade in effect */
.fadeIn {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }